*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: rgb(123, 255, 0);
  --white-text: #ffffffeb;
  --color-white: #fff;
  --color-off: #626262;

  --color-black-50: #191919;
  --color-black-100: #272727;
  --color-black-150: #3c3c3c;
  --radius: 15px;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  display: none;
}

svg {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
}

body {
  background: url('../public//images/medium-shot-girl-relaxing-outdoors.jpg') no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

body::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000cb;
  backdrop-filter: blur(25px);
  z-index: -1;
}

main {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 99;
  padding: 14px;
  padding: 2rem 1rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_pri {
  --size: 36px;
  background: var(--color-main);
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn_pri svg {
  --size: 1.4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white); 
}

.inp_bar {
  background: var(--color-black-100);
  height: 55px;
  width: 100%;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.inp_bar input {
  flex: 1;
  background: transparent;
  color: var(--white-text);
}

.icon_circle {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--color-black-50);
}

.icon_circle svg {
  fill: var(--color-off);
}

.docker {
  position: fixed;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  height: 100vh;
  z-index: 9999;
  /* background: #000000aa; */
  background: #0000005d;
  backdrop-filter: blur(15px);
  display: grid;
  place-items: center;
}

.docker .docker_box {
  width: 100%;
  max-width: 500px;
  background: var(--color-black-100);
  border-radius: var(--radius);
  padding: 2rem 1rem;
}

.passcode_inp {
  --size: 45px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  background: var(--color-black-50);
  color: var(--color-main);
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}